
.entry {
    margin-bottom: 20px;
}

.date {
    font-size: 22px;
    color: #6b6b6b;
}

.title {
    font-size: 35px;
}

.body {
    font-size: 20px;
    margin-bottom: 5px;
    white-space: pre-wrap;
}

.comment {
    margin-bottom: 5px;
    margin-top: 5px;
}

.commentAuthor {
    font-size: 15px;
}

.commentBody {
    font-size: 20px;
}