.body {
    /* flex-grow: 1; */
    /* background-color: #525252; */
	/* border: solid 1px #525252; */
	/* height: 100%;
	width: 100%; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
	align-self: flex-end;
	height: 70%;
}